@import "./src/styles/variables";
@import "./tablet-media";

.game-page {
  display: flex;
  flex-direction: column;

  .game {
    &__about-block {
      display: flex;
      flex-direction: column;
      margin-bottom: $large-margin;

      .game__poster {
        width: 100%;
        //height: 240px; // to common css
        margin-bottom: $large-margin;
      }

      .game__name {
        color: $orange;
        font-size: $primary-medium-font-size;
        margin-bottom: $medium-margin;
      }

      .game__description-block {
        display: flex;
        flex-direction: column;
      }
    }

    &__rating {
      margin-bottom: $large-margin;
    }

    &__release-date, &__website {
      margin-bottom: $small-margin;
    }

    &__description-title {
      font-size: $primary-medium-font-size;
      margin-bottom: $medium-margin;
    }
  }
}
