@import "src/styles/variables";

@media screen and (min-width: $wide-mobile-width) {
  .slider {
    .slider__content {
      .slider__header {
        margin-bottom: 25px !important;

        .slider__controls {
          .icon {
            width: 35px;
            height: 35px;
          }
        }
      }
    }
  }
}