@import "src/styles/variables";

@media screen and (min-width: $wide-mobile-width) {
  .slider {
    .slider__content {
      .slider__header {
        margin-bottom: 25px !important;

        .slider__controls {
          .slider__arrows {
            width: 110px !important;
          }

          .icon {
            width: 35px;
            height: 35px;
          }
        }
      }

      .slider__slides {
        .slider__slides-wrapper {
          .slider__image {
            width: 150px;
            height: 86px;
          }
        }
      }
    }
  }
}