@import "../styles/variables";

body {
  background: $body-bg;
  color: $white;
  font-size: $primary-font-size;
  line-height: 1.3;
}

a {
  text-decoration: none;
  color: $blue;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
}

img {
  width: 100%;
  height: 100%;
}

input, textarea {
  border: none;
  padding: 0;
}