// color
$white: #fff;
$orange: #f3b51f;
$blue: #ada3ff;
$grey: grey;
$lightGrey: #e8d6d6;
$red: red;
$black: #171111;

// font size
$small-font-size: 13px;
$primary-font-size: 16px;
$secondary-font-size: 18px;
$medium-font-size: 22px;

// main styles
$body-bg: $black;
$small-margin: 5px;
$medium-margin: 10px;
$large-margin: 20px;
