@import "./src/styles/variables";

.dropdown {
  background: #ffffff;
  color: black;
  cursor: pointer;
  border-radius: 5px;
  height: 36px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;

  &__button {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 3px 0 10px;

    .dropdown__icon {
      width: 30px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .dropdown__title {
      width: 100%;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }

  &__content {
    width: 100%;
    position: absolute;
    top: 38px;
    left: 0;
    z-index: 1;
    background: white;
    border-radius: 5px;
    padding: 3px 7px 8px 7px;
    display: flex;
    flex-direction: column;
  }
  &__content-header {
    padding: 5px 10px 4px 10px;
    margin-bottom: $small-margin;
    position: relative;
    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      content: '';
      border: 0.3px solid rgba(0, 0, 0, 0.1);
      width: 100%;
    }
  }
  &__content-button {
    font-size: $small-font-size;
    color: $red;
    cursor: pointer;
  }

  &__options {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    min-height: 40px;
    max-height: 250px;
  }

  &__option {
    display: flex;
    justify-content: space-between;
    padding: 5px 10px 4px 10px;
    border-radius: 5px;
    cursor: pointer;

    &:not(:last-child) {
      margin-bottom: 5px;
    }

    &:hover, &-active {
      background: $lightGrey;
    }
  }

  &__option-empty {
    color: $grey;
  }
}