@import './src/styles/variables';
@import "./wide-mobile-media";
@import "./tablet-media";

.games-showcase-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;

  .search-bar__input-search {
    width: 100%;
  }

  .search-bar__extra-options {
    justify-content: space-between;
  }

  .dropdown {
    width: 100%;

    &:not(:last-child) {
      margin-bottom: $medium-margin;
    }
  }
}