@import "src/styles/variables";
@import "./wide-mobile-media";
@import "./tablet-media";

body {
  background: $body-bg;
  color: $body-color;
  font-size: $body-font-size;
  font-family: sans-serif;
  line-height: 1.3;
}

a {
  text-decoration: none;
  color: $blue;
}

h1, h2, h3, h4, h5, h6, input {
  font-size: inherit;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

input, textarea {
  border: none;
  padding: 0;
}

.icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.text-dots {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}